$global-primaryColor1: #3e4149;
$global-primaryColor2: #444f5a;
$global-primaryColor3: #ff9999;
$global-primaryColor4: #ffc8c8;

$global-gradientColor: repeating-linear-gradient(
        45deg,
        hsla(64, 83%, 54%, 0.05) 0px,
        hsla(64, 83%, 54%, 0.05) 1px,
        transparent 1px,
        transparent 11px,
        hsla(64, 83%, 54%, 0.05) 11px,
        hsla(64, 83%, 54%, 0.05) 12px,
        transparent 12px,
        transparent 32px
    ),
    repeating-linear-gradient(
        90deg,
        hsla(64, 83%, 54%, 0.05) 0px,
        hsla(64, 83%, 54%, 0.05) 1px,
        transparent 1px,
        transparent 11px,
        hsla(64, 83%, 54%, 0.05) 11px,
        hsla(64, 83%, 54%, 0.05) 12px,
        transparent 12px,
        transparent 32px
    ),
    repeating-linear-gradient(
        0deg,
        hsla(64, 83%, 54%, 0.05) 0px,
        hsla(64, 83%, 54%, 0.05) 1px,
        transparent 1px,
        transparent 11px,
        hsla(64, 83%, 54%, 0.05) 11px,
        hsla(64, 83%, 54%, 0.05) 12px,
        transparent 12px,
        transparent 32px
    ),
    repeating-linear-gradient(
        135deg,
        hsla(64, 83%, 54%, 0.05) 0px,
        hsla(64, 83%, 54%, 0.05) 1px,
        transparent 1px,
        transparent 11px,
        hsla(64, 83%, 54%, 0.05) 11px,
        hsla(64, 83%, 54%, 0.05) 12px,
        transparent 12px,
        transparent 32px
    ),
    linear-gradient(90deg, rgb(68, 79, 90), rgb(68, 79, 90));
