@import "colors.scss";

header {
  width: 100%;
  background-image: $global-gradientColor;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  h1 {
    color: $global-primaryColor4;
    line-height: 200px;
    font-size: 4rem;
    font-family: "Pacifico", cursive;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-right: 15px;
    }
  }
}
