header {
  width:100%;
  background-color: #24a19c;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  h1{
    color:#ffc7c7;
    line-height: 200px;
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
  }
  
}