table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 63%;
    margin: 0 auto 20px;

    td,
    th {
        padding: 8px;
        border-radius: 15px;
        border: 5px solid #ffe1e1;
        text-align: center;
    }

    tr:hover td {
        background-color: #ddd;
    }
    td {
        cursor: pointer;
        background-color: #f2f2f2;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        text-align: left;
        background-color: #ff9999;
        color: white;
    }
}
